body {
	font-family: verdana, arial, sans-serif;
	font-size: small;
	background-color: #222;
	color: #999;
}

#wrapper {
	width: 960px;
	margin: 0 auto;
	color: #333;
}

#header {
	height: 100px;
	color: #ccc;
}

#header #logo {
	display: block;
	width: 150px;
	height: 100px;
	float: left;
	margin-right: 40px;
}

#header h1 {
	font-size: 1.6em;
	color: #008001; /* #ccc; */
	margin: 0;
	padding: 20px 0 10px 0;
}

#header #tagline {
	font-size: 1.2em;
	color: #37D73B; /* #999; */
	margin: 0;
	padding: 0;
	font-style: italic;
}

#nav ul {
	margin: 0;
	padding: 0;
	height: 50px;
	background-color: #333;
}

#nav ul li {
	display: block;
	float: left;
	margin: 0;
	padding: 0;
	width: 150px;
	height: 50px;
}

#nav ul li a {
	display: block;
	width: 150px;
	height: 50px;
	line-height: 50px;
	margin: 0;
	padding: 0;
	text-align: center;
	background-color: #333;
	color: #ccc;
}

#nav ul li a:hover {
	background-color: #444;
	color: #fff;
}

#nav ul li a span {
	margin: 0;
	padding: 0;
}

#main {
	background-color: #333;
	color: #ccc;
}

#footer {
	text-align: center;
	font-size: 0.9em;
	color: #008001; /* #999; */
}

.full-width {

}

.full-width .content {
	padding: 10px;
	color: #ddd;
}

.sidebar-left {

}

.sidebar-left .sidebar {
	width: 299px;  /* 300px - 1px border */
	float: left;
	margin-right: 20px;
	padding: 10px;
	border-right: 1px solid #444;
	color: #ddd;
}

.sidebar-left .content {
	width: 600px;
	float: left;
	padding: 10px;
	color: #ddd;
}

.sidebar-right {

}

.sidebar-right .content {
	width: 600px;
	float: left;
	margin-right: 20px;
	padding: 10px;
	color: #ddd;
}

.sidebar-right .sidebar {
	width: 299px;  /* 300px - 1px border */
	float: left;
	padding: 10px;
	border-left: 1px solid #444;
	color: #ddd;
}

a {
	text-decoration: none;
	color: #6666cc;
}

a:hover {
	color: #9999ff;
}

.clearFix:after {
	display: block;
	clear: both;
	content: ".";
	visibility: hidden;
	height: 0;
	line-height: 0;
}