@charset "UTF-8";
/**
 * Horizontal CSS Drop-Down Menu Module
 *
 * @file		dropdown.css
 * @package		Dropdown
 * @version		0.7.1
 * @type		Transitional
 * @stacks		597-599
 * @browsers	Windows: IE6+, Opera7+, Firefox1+
 *				Mac OS: Safari2+, Firefox2+
 *
 * @link		http://www.lwis.net/
 * @copyright	2006-2008 Live Web Institute. All Rights Reserved.
 *
 */




#nav ul.nav_dropdown, #nav ul.nav_dropdown li, #nav ul.nav_dropdown ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
#nav ul.nav_dropdown {
	position: relative;
	z-index: 597;
	/*float: left;*/
}
#nav ul.nav_dropdown li {
	/*float: left;
	line-height: 1.3em;
	vertical-align: middle;*/
	zoom: 1;
}
#nav ul.nav_dropdown li.hover, #nav ul.nav_dropdown li:hover {
	position: relative;
	z-index: 599;
	cursor: default;
}
#nav ul.nav_dropdown ul {
	visibility: hidden;
	position: absolute;
	/*top: 100%;*/
	top: 49px;
	left: 0;
	z-index: 598;
	/*width: 100%;*/
	width: 300px;
	height: auto;
	margin: 0;
	/*padding: 14px 0 0 0;*/
	padding: 0;
	border: 1px solid: #999;
}
#nav ul.nav_dropdown ul li {
	display: block;
	float: none;
	width: 300px;
	height: 50px;
	/*margin-bottom: 6px;*/
	margin: 0;
	border-bottom: 1px solid #666;
}
#nav ul.nav_dropdown li:hover > ul {
	visibility: visible;
}
#nav ul.nav_dropdown ul li a {
	width: 270px;  /* 300px - 30px padding */
	padding: 0 15px;
	text-align: left;
}
#nav ul.nav_dropdown ul ul {
	top: 1px;
	left: 99%;
}







#nav
{
	padding: 0 0 15px 0;
	text-align: center;
}

#nav ul.nav_dropdown
{
	margin: 0;
	padding: 0;
	list-style-type: none;
}

#nav ul.nav_dropdown li
{
	display: inline;
	/*padding-right: 8px;*/
	padding: 0;
	text-align: center;
}

#nav ul.nav_dropdown li a
{
	padding: 0;
	font-size: 12px;
	background-image: url(../images/navLeftBG.png);
	background-position: left top;
	background-repeat: no-repeat;
	color: #aaa;
}

#nav ul.nav_dropdown li a span
{
	/*padding: 7px 15px 8px 0;*/
	padding: 0;
	background-image: url(../images/navRightBG.png);
	background-position: right top;
	background-repeat: no-repeat;
}

#nav ul.nav_dropdown li a:hover
{
	background-position: left bottom;
	color: #fff;
}

#nav ul.nav_dropdown li a:hover span
{
	background-position: right bottom;
}




/* -- level mark -- */

#nav ul.nav_dropdown ul {
	margin-top: 1px;
}
#nav ul.nav_dropdown ul li {
	
}
#nav ul.nav_dropdown ul li a:link, #nav ul.nav_dropdown ul li a:visited {
	
}
#nav ul.nav_dropdown ul li a:hover {
	
}