@import url('bootstrap.min.css');

body {
	padding-top: 60px;
    padding-bottom: 40px;
}

a {
	cursor: pointer;
}

.round-corner {
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

*[show-on-parent-hover] {
	display: none;
}

header {
	border-bottom: 1px solid #eee;
	margin-bottom: 20px;
}

label {
	font-weight: bold;
}

.modal form {
	margin: 0;
}

.modal-body {
	padding-bottom: 50px;
}

.popover.popover-validate {
	display: block;
	margin: 40px;
	width: 200px;
}

/************************************
 *
 * Validation
 * 
 **************************************************/

input.ng-invalid:not(.ng-pristine),
textarea.ng-invalid:not(.ng-pristine) {
	border-color: #e9322d;
	-webkit-box-shadow: 0 0 6px #f8b9b7;
	-moz-box-shadow: 0 0 6px #f8b9b7;
	box-shadow: 0 0 6px #f8b9b7;
}

/************************************
 *
 * Settings
 * 
 **************************************************/

.settings-list a {
	padding: 8px;
}

.setting-options {
	margin: 10px 0;
}

.settings-list input[type="text"] {
	width: 450px;
}

.settings-list td:nth-child(3) {
	width: 30px;
}

/************************************
 *
 * Pages
 * 
 **************************************************/

.pages-list tbody tr {
	cursor: pointer;
}

.pages-buttons {
	margin-bottom: 10px;
}

.edit-fields input[type="text"],
.edit-fields textarea {
	width: 90%;
}

.edit-fields textarea {
	height: 250px;
}

/************************************
 *
 * Footer
 * 
 **************************************************/

#footer {
	border-top: 1px solid #eee;
	padding-top: 20px;
	margin-top: 40px;
}